@charset 'UTF-8';
/*
	  ============================================================
		  Button Css Start
	  ============================================================
*/
input[type="submit"],
.chr-btn {
    width: auto;
    color: #333;
    font-size: 13px;
    position: relative;
    border-radius: 0px;
    display: inline-block;
    border: 2px solid #333;
    background: transparent;
    text-transform: uppercase;
    padding:10px 37px 10px 37px;
    font-family: 'Open Sans',Arial, Helvetica, sans-serif;
}
.chr-btn:hover{
    color: #fff;
}
input[type="submit"] {
    color: #fff;
    background-color: #333;
}
input[type="submit"]:hover {
    color: #333;
    border-color: #333;
    background-color: transparent;
}
.bdr-top {
    border-top: 1px solid #d3d3d3;
}
.fancy-btn:before,
.fancy-btn:after {
    border-left: 10px solid transparent!important;
    border-top: 10px solid #333;
    content: "";
    height: 0;
    width: 0;
    position: absolute;
    right: 0;
    top: 0;
}
.fancy-btn::after {
    border-left: 0!important;
    border-top: 0;
    border-right: 10px solid transparent!important;
    border-bottom: 10px solid #333;
    bottom: 0;
    left: 0;
    right: auto;
    top: auto;
}
.fancy-btn:hover:before {
    border-left-width: 20px!important;
    border-top-width: 20px;
}
.fancy-btn:hover:after {
    border-right-width: 20px!important;
    border-bottom-width: 20px;
}
.fancy-btn.full:hover:before {
    border-left-width: 20px!important;
    border-top-width: 20px;
    width: 100%;
    height: 100%;
}
.fancy-btn.full:hover:after {
    border-right-width: 20px!important;
    border-bottom-width: 20px;
    width: 100%;
    height: 100%;
}
.fancy-thumb {
    float: left;
    width: 100%;
    position: relative;
}
.fancy-thumb .zoom-icon,
.fancy-thumb .text,
.event-ticket-link,
.fancy-thumb .text * {
    z-index: 1;
}
.fancy-thumb figure:after,
.fancy-thumb figure:before {
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    content: "";
    opacity: 0;
    position: absolute;
    transition: all 0.3s ease-in-out;
    -o-transition: all 0.3s ease-in-out;
    -ms-transition: all 0.3s ease-in-out;
    -moz-transition: all 0.3s ease-in-out;
    -webkit-transition: all 0.3s ease-in-out;
    box-shadow: 0 10px 20px 0 rgba(0, 0, 0, 0.25);
}
.fancy-thumb figure:after {
    left: 10px;
    right: 10px;
    top: 10px;
    bottom: 10px;
    box-shadow: 0 10px 20px 0 rgba(0, 0, 0, 1);
}
.fancy-thumb:hover figure:after,
.fancy-thumb:hover  figure:before ,
.fancy-effect:hover .fancy-thumb figure:after,
.fancy-effect:hover .fancy-thumb figure:before {
    opacity: 1;
}
.s-date-box {
    float: left;
    width: 70px;
    color: #fff;
    height: 70px;
    background: #333;
    text-align: center;
    padding: 10px 0 0 0;
    text-transform: capitalize;
}
.s-date-box span {
    font-size: 24px;
    margin: 0 0 3px;
}
.s-date-box p {
    margin: 0;
}
.readmore-btn {
    display: inline-block;
    width: auto;
    text-transform: capitalize;
    position: relative;
}
.readmore-btn:before {
    float: right;
    content: "\f101";
    margin: 0 0 0 10px;
    color: currentColor;
    font-family: 'fontawesome';
}
.date-box {
    float: left;
    min-width: 170px;
    max-width: 170px;
    text-align: center;
    margin: 0 20px 0 0;
    padding: 23px 20px 25px;
    background-color: #0e385e;
}
.date-box h5 {
    font-size: 30px;
    margin: 0 0 2px 0;
}
.date-box p {
    font-size: 20px;
    margin: 0;
}
.date-box h5,
.date-box p {
    color: #fff;
}
/*
	  ============================================================
		  Heading Css Start
	  ============================================================
*/
.headind-1 {
    float: left;
    width: 100%;
    margin: 0 0 40px;
}
.headind-1 .title {
    float: none;
    width: auto;
    font-size: 30px;
    padding: 12px 20px 8px;
    position: relative;
    display: inline-block;
}
.headind-1 .title:after,
.headind-1 .title:before {
    left: 0;
    right: 0;
    top: auto;
    bottom: 0;
    width: auto;
    height: 1px;
    content: "";
    margin: 0 auto;
    position: absolute;
}
.headind-1 .title:after {
    top: 0;
    left: 20px;
    right: 20px;
    bottom: auto;
}
/**/
.headind-1.white .title {
    color: #fff;
}
.headind-1.white .title:after,
.headind-1.white .title:before {
    background-color: #fff;
}
.heading-title {
    float: left;
    width: 100%;
    font-size: 24px;
}
/*
	  ============================================================
		  Facilities List Css Start
	  ============================================================
*/
.facilities-list {
    padding: 0;
    list-style: none;
    margin: 0 0 0 -30px;
}
.facilities-list li {
    float: left;
    width: auto;
    line-height: 20px;
    margin: 0 0 25px 30px;
    text-transform: capitalize;
}
.facilities-list li .svg-icon {
    margin: 0 15px 0 0;
}
.svg-icon {
    float: left;
    width: 20px;
    height: 20px;
}
.svg-icon img {
    float: left;
    width: 100%;
}
/*
	  ============================================================
		  Social Css Start
	  ============================================================
*/
.chr-social {
    margin: 0;
    padding: 0;
    float: none;
    width: auto;
    display: inline-block;
}
.chr-social li {
    width: auto;
    margin: 0 7px;
    display: inline-block;
}
.chr-social li:first-child {
    margin-left: 0;
}
.chr-social li:last-child {
    margin-right: 0;
}
.social_title,
.chr-social li a {
    float: left;
    width: 35px;
    height: 35px;
    color: #666;
    font-size: 16px;
    line-height: 35px;
    text-align: center;
    border: 1px solid #666;
    border-radius: 100%;
}
.rd-0 a {
    border-radius: 0 !important;
}
.social_title {
    width: auto;
    border: none;
}
.chr-social li a:hover {
    color: #fff;
}
.chr-sr-list {
    float: left;
    width: 100%;
    list-style: none;
    margin: 0;
    padding: 0;
}
.chr-sr-list li {
    float: left;
    width: 100%;
    font-size: 14px;
    text-align: left;
    margin: 0 0 6px 0;
    position: relative;
    padding: 0 0 0 18px;
}
.chr-sr-list li:before {
    left: 0;
    top: 50%;
    width: 8px;
    height: 8px;
    content: "";
    position: absolute;
    border-radius: 100%;
    transform: translateY(-50%);
    -o-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    -moz-transform: translateY(-50%);
    -webkit-transform: translateY(-50%);
}
/*
	  ============================================================
		  Input Fields Css Start
	  ============================================================
*/
.input-group,
.input-field {
    float: left;
    width: 100%;
    position: relative;
}
.input-field label {
    color: #999;
    float: left;
    width: 100%;
    margin: 0;
    font-size: 14px;
}
.form-control,
.input-field textarea,
.time_picker .timepicker,
.input-field .form-control,
.input-field .styledselect,
.rq-check-inout-single-wrapper,
.input-field input[type="text"],
.input-field input[type="email"],
.input-field input[type="password"]{
    float: left;
    width: 100%;
    height: 46px;
    color: #7d8386;
    text-align: left;
    min-height: 46px;
    border-radius: 0;
    box-shadow: none;
    line-height: 1.1;
    border-width: 1px;
    position: relative;
    padding: 13px 12px;
    border-style: solid;
    -moz-appearance: none;
    border-color: #dbdbdb;
    -webkit-appearance: none;
    text-transform: capitalize;
    background-color: transparent;
}
.input-field textarea {
    resize: none;
    min-height: 150px;
}
/*With Icon*/
.input-field .search_icon {
    top: 0;
    right: 0;
    bottom: 0;
    margin: 0;
    z-index: 1;
    width: 65px;
    height: 100%;
    color: #9999b1;
    text-align: center;
    position: absolute;
}
.input-field .search_icon:before {
    left: 0;
    top: 50%;
    right: 0;
    z-index: -1;
    font-size: 14px;
    content: "\f1d9";
    position: absolute;
    font-family: 'FontAwesome';
    transform: translateY(-50%);
    -o-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    -moz-transform: translateY(-50%);
    -webkit-transform: translateY(-50%);
}
.input-field .clear.search_icon{
    font-size: inherit;
}
.input-field .search_icon input {
    height: 100%;
    font-size: 0;
    border: none !important;
    background-color: transparent !important;
}
/*Custom Select Menu*/
.styledselect {
    float: left;
    width: 100%;
    position: relative;
}
.time_picker:before,
.rq-check-inout-single-wrapper:before,
.styledselect:after {
    top: 50%;
    right: 10px;
    font-size: 14px;
    content: "\f107";
    position: absolute;
    font-family: 'fontawesome';
    transform: translateY(-50%);
    -o-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    -moz-transform: translateY(-50%);
    -webkit-transform: translateY(-50%);
}
.styledselect.active {
    border-bottom-color: transparent !important;
}
ul.options {
    left: 0;
    right: 0;
    top: 100%;
    padding: 0 0;
    z-index: 999;
    display: none;
    list-style: none;
    max-height: 150px;
    position: absolute;
    overflow-y: scroll;
    border: 1px solid #ccc;
    background-color: white;
    margin: -2px 0 0 !important;
    border-top-color: transparent !important;
    -webkit-box-shadow: 0 1px 2px rgba(0, 0, 0, 0.2);
    -moz-box-shadow: 0 1px 2px rgba(0, 0, 0, 0.2);
    box-shadow: 0 1px 2px rgba(0, 0, 0, 0.2);
}
.options li {
    padding: 10px;
    margin: 0 0;
    cursor: pointer;
}
.options li:hover {
    background-color: #39f;
    color: white;
}


.form-control.error {
    border-color: #E42C3E !important;
    z-index: 1;
}
label.error {
    font-weight: normal;
    font-size: 11px;
    color: #e42c3e;
    position: absolute;
    top: 50%;
    right: 15px;
    left: auto;
    width: auto;
    z-index: 1;
    transform: translateY(-50%);
    -o-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    -moz-transform: translateY(-50%);
    -webkit-transform: translateY(-50%);
    display: none;
}
label.error#message-error{
    top: 20px;
    transform: translateY(0%);
    -o-transform: translateY(0%);
    -ms-transform: translateY(0%);
    -moz-transform: translateY(0%);
    -webkit-transform: translateY(0%);
}
#contactSuccess, #contactError {
    float: left;
    width: 100%;
    border: none;
    margin-bottom: 30px;
    -webkit-box-shadow: 0 2px 5px 0 rgba(0,0,0,.26);
    -moz-box-shadow: 0 2px 5px 0 rgba(0,0,0,.26);
    box-shadow: 0 2px 5px 0 rgba(0,0,0,.26);
    text-align: center;
}

/*
	  ============================================================
		  Pagination Css Start
	  ============================================================
*/
.chr-pagination {
    float: left;
    width: 100%;
    margin: 20px 0 30px;
}
.chr-pagination .page-numbers {
    float: none;
    width: 32px;
    height: 32px;
    margin: 0 2px;
    color: #a7a7a7;
    line-height: 34px;
    text-align: center;
    border-radius: 100%;
    display: inline-block;
    border: 1px solid #f5f5f5;
}
.chr-pagination .page-numbers.current,
.chr-pagination .page-numbers:hover {
    color: #fff;
}
.page-numbers.border_none:hover,
.page-numbers.border_none {
    border: none !important;
    color: inherit !important;
    background-color: transparent !important;
}

/*
	  ============================================================
		  Slider Dots Css Start
	  ============================================================
*/
.dot-style-1.slick-dotted.slick-slider {
    margin: 0 0 30px;
}
.dot-style-1 .slick-dots {
    bottom: auto;
    position: static;
    line-height: 0;
}
.dot-style-1 .slick-dots li {
    height: auto;
    width: auto;
}
.dot-style-1 .slick-dots li button {
    padding: 0;
    margin: 0;
    width: 11px;
    height: 11px;
    border-radius: 100%;
    background: #333;
}
.dot-style-1 .slick-dots li button:before {
    display: none;
}
/*
	  ============================================================
		  Slider Arrows Css Start
	  ============================================================
*/
.arrows .slick-arrow {
    z-index: 1;
    width: 51px;
    height: 51px;
    font-size: 20px;
    position: absolute;
    text-align: center;
    border: 1px solid #e9e8e8;
}
.arrows-radius .slick-arrow.slick-prev {
    right: auto;
    left: 20px;
}
.arrows-radius .slick-arrow.slick-next {
    left: auto;
    right: 20px;
}
.arrows .slick-arrow:before {
    top: 50%;
    left: 0;
    right: 0;
    content: "\f104";
    position: absolute;
    text-align: center;
    font-family: 'fontawesome';
    transform: translateY(-55%);
    -o-transform: translateY(-55%);
    -ms-transform: translateY(-55%);
    -moz-transform: translateY(-55%);
    -webkit-transform: translateY(-55%);
}
.arrows .slick-arrow.slick-next:before {
    left: auto;
    right: 45%;
    content: "\f105";
}
.arrows .slick-arrow:hover:before {
    color: #fff;
}
.arrows-radius .slick-arrow {
    border-radius: 100%;
}
.arrows-radius .slick-arrow.slick-prev {
    right: auto;
    left: 20px;
}
.arrows-radius .slick-arrow.slick-next {
    left: auto;
    right: 20px;
}
.arrows-top {
    padding: 34px 0 0px;
}
.arrows-top .slick-arrow {
    top: auto;
    bottom: 0;
    transform: translate(0%);
    -o-transform: translate(0%);
    -ms-transform: translate(0%);
    -moz-transform: translate(0%);
    -webkit-transform: translate(0%);
}
.arrows-top .slick-arrow.slick-prev {
    right: auto;
    left: 46%;
}
.arrows-top .slick-arrow.slick-next {
    left: auto;
    right: 46%;
}
.arrows-bottom {
    padding: 0 0 34px;
}
.arrows-bottom .slick-arrow {
    top: auto;
    bottom: 0;
    transform: translate(0%);
    -o-transform: translate(0%);
    -ms-transform: translate(0%);
    -moz-transform: translate(0%);
    -webkit-transform: translate(0%);
}
.arrows-bottom .slick-arrow.slick-prev {
    right: auto;
    left: 46%;
}
.arrows-bottom .slick-arrow.slick-next {
    left: auto;
    right: 46%;
}
/*
	  ============================================================
		  Counnt Down Css Start
	  ============================================================
*/
.countdown {
    margin: 0;
    padding: 0;
    width: 100%;
    float: left;
    list-style: none;
    text-align: center;
}
.countdown li {
    float: none;
    padding: 0 30px;
    display: inline-block;
    border-left: 1px solid #fff;
}
.countdown li:first-child {
    border: none;
    padding-left: 0 !important;
}
.countdown li:last-child {
    padding-right: 0 !important;
}
.countdown span {
    font-size: 40px;
    margin: 0 0 3px;
    line-height: 40px;
}
.countdown p {
    font-size: 18px;
    line-height: 18px;
    margin: 0 !important;
    text-transform: capitalize;
}
.countdown p,
.countdown span {
    color: #fff;
}
.rating_down {
    float: none;
    width: 60px;
    height: 14px;
    display: inline-block;
    background-position: 0 0;
    background-repeat: repeat-x;
    background-image: url("../images/stars.png");
}
/*
	  ============================================================
		  Rating Css Start
	  ============================================================
*/
.rating_up {
    float: left;
    height: 100%;
    display: inline-block;
    background-repeat: repeat-x;
    background-position: 0px -14px;
    background-image: url("../images/stars.png");
}
/*
	  ============================================================
		Extra  Buttons Css Start
	  ============================================================
*/
.ocr-button {
    position: relative;
    display: inline-block;
    background-color: transparent;
    color: #000;
    border: 2px solid #000;
    transition: all .3s ease 0s;
    -o-transition: all .3s ease 0s;
    -ms-transition: all .3s ease 0s;
    -moz-transition: all .3s ease 0s;
    -webkit-transition: all .3s ease 0s;
}
.ocr-button.gray {
    color: #fff;
    background-color: #323336;
}
.ocr-button.large {
    font-size: 16px;
    line-height: 20px;
    padding: 15px 45px;
    display: inline-block;
}
.ocr-button.medium {
    padding: 10px 37px 10px 37px;
    display: inline-block;
}
.ocr-button.small {
    font-size: 11px;
    line-height: 16px;
    padding: 10px 18px;
    display: inline-block;
}
.ocr-button.rounded {
    border-radius: 4px;
}
.ocr-button.full-rounded {
    border-radius: 50px;
}
/**/
.ocr-button.large.thin {
    padding: 15px 40px 15px 40px !important;
    line-height: 22px;
}
.ocr-button.medium.thin {
    padding: 8px 35px 8px 35px !important;
}
.ocr-button.small.thin {
    padding: 10px 15px 10px 15px !important;
}
/**/
.button-icon-right {
    margin-left: 6px;
}
.ocr-button.yellow {
    background-color: #ffea00;
    color: #323336;
    border: 1px solid #ffea00;
}
.ocr-button.yellow:hover {
    background-color: transparent;
    color: #ffea00;
}
.ocr-button.blue {
    background-color: #37a2d6;
    color: #fff;
    border: 1px solid #37a2d6;
}
.ocr-button.blue:hover {
    color: #37a2d6;
    background-color: transparent;
}
.ocr-button.purple {
    background-color: #8288ea;
    color: #fff;
    border: 1px solid #8288ea;
}
.ocr-button.purple:hover {
    color: #8288ea;
    background-color: transparent;
}
.ocr-button.cyan {
    background-color: #4cc1d3;
    color: #fff;
    border: 1px solid #4cc1d3;
}
.ocr-button.cyan:hover {
    color: #4cc1d3;
    background-color: transparent;
}
.ocr-button.teal {
    background-color: #1bbc9b;
    color: #fff;
    border: 1px solid #1bbc9b;
}
.ocr-button.teal:hover {
    color: #1bbc9b;
    background-color: transparent;
}
.ocr-button.gray {
    color: #fff;
    background-color: #323336;
    border: 1px solid #323336;
}
.ocr-button.gray:hover {
    color: #323336;
    background-color: transparent;
}
.ocr-button.gray-light {
    color: #323336;
    background-color: #d7d9dc;
    border: 1px solid #d7d9dc;
}
.ocr-button.gray-light:hover {
    background-color: transparent;
    color: #d7d9dc;
    cursor: pointer;
}
.ocr-button.deeporange {
    color: #fff;
    background-color: #ff5722;
    border: 1px solid #ff5722;
}
.ocr-button.deeporange:hover {
    background-color: transparent;
    cursor: pointer;
    color: #ff5722;
}
.ocr-button.green {
    color: #fff;
    background-color: #259b24;
    border: 1px solid #259b24;
}
.ocr-button.green:hover {
    background-color: transparent;
    cursor: pointer;
    color: #259b24;
}
.ocr-button.lime {
    color: #fff;
    background-color: #cddc39;
    border: 1px solid #cddc39;
}
.ocr-button.lime:hover {
    background-color: transparent;
    cursor: pointer;
    color: #cddc39;
}
.ocr-button.white {
    color: #323336;
    background-color: #fff;
    border: 1px solid #fff;
}
.ocr-button.white:hover {
    color: #fff;
    background-color: transparent;
    cursor: pointer;
}
.ocr-button.hv-th-bg:hover {
    color: #fff;
}
.osr_table {
    width: 100%;
    display: table;
    border: 1px solid #eeeef6;
}
.osr_table ul {
    display: table-row;
}
.osr_table ul li {
    padding: 10px;
    color: #7d8386;
    font-size: 14px;
    text-align: center;
    font-weight: normal;
    display: table-cell;
    vertical-align: middle;
    border-bottom: 1px solid #eeeef6;
}
.osr_table ul.osr_table_head:hover,
.osr_table .osr_table_head {
    background-color: #0c0c18 !important;
}
.osr_table .osr_table_head li {
    color: #fff;
}
.osr_table ul:last-child li {
    border: none;
}
.osr_table ul:hover {
    background-color: #f8f7f7;
}
